<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Stripe.net project" Description="Code analysis rules for Stripe.net" ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.FxCopAnalyzers">
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2237" Action="None" />

    <!--
      CA1054: URI parameters should not be strings
      CA1055: URI return values should not be strings
      CA1056: URI properties should not be strings
      We have plenty of string parameters/return values/properties named `Url`.
      In most cases, they're not full URLs but just paths (e.g. "/v1/foo").
    -->
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />

    <!--
      CA1303: Do not pass literals as localized parameters
      Might be nice to do, but very low priority.
    -->
    <Rule Id="CA1303" Action="None" />

    <!--
      CA1716: Identifiers should not match keywords
      We use the following "reserved keywords": `Event` (model class for Stripe
      events), `Get` (method name for retrieve requests) and `Object` (property
      in model classes when the model has an `object` key). Changing these
      would be a huge breaking change and not worth it.
    -->
    <Rule Id="CA1716" Action="None" />

    <!--
      CA1720: Identifiers should not contain type names
      We use `Object` as a property name in a lot of model classes.
    -->
    <Rule Id="CA1720" Action="None" />

  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!--
      Keep this rule disabled as it would force a header for each file
      and a copyright.
       - SA1633: FileMustHaveHeader
    -->
    <Rule Id="SA1633" Action="None" />

    <!--
      Keep those rules disabled as we actively use region in the code
       - SA1124: DoNotUseRegions
       - SA1202: ElementsMustBeOrderedByAccess
      If we keep regions we can't do the latter as we have internal in the middle
    -->
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1202" Action="None" />

    <!--
      CS1591: Missing XML comment for publicly visible type or member 'Type_or_Member'
      SA1600: ElementsMustBeDocumented
      SA1623: PropertySummaryDocumentationMustMatchAccessors
      Documentation related warnings. We should fix those in the future.
    -->
    <Rule Id="CS1591" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1623" Action="None" />
  </Rules>
</RuleSet>
